@model IEnumerable<AracServisSatis.Entities.Concrete.Marka>

@{
    ViewData["Title"] = "Marka Kayıtları";
}
<h3 class="m-2">Marka Kayıtları</h3>

<p>
    <a class="btn btn-outline-primary m-2" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table table-striped ">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
